<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Частицы</title>
    <link rel="stylesheet" href="/static/styles/base.css"/>
    <link rel="stylesheet" href="/static/styles/particles_style.css"/>
</head>
<body>
    <div class="header">
        <a href="/particles" class="logo">
            <img src="/static/img/phet_logo.png" alt="PhET Logo" class="image">
            <div class="logo-divider"></div>
            <img src="/static/img/uni_logo.png" alt="University Logo" class="image">
        </a>
    </div>

    {{ if not .is404 }}
    <div class="banner-container">
        <div class="banner">
            <img src="/static/img/banner.png" class="banner-image">
        </div>
        <h1>Частицы</h1>
    </div>

    <div class="search-container">
        <form action="/particles" method="GET">
            <input type="text" name="particle" placeholder="Найти..." class="search-input" value="{{ .particle }}">
            <button type="submit" class="search-button">
                <img src="/static/img/search_icon.png" alt="Search" class="search-icon">
            </button>
        </form>
    </div>
    {{ end }}

    <div class="space">
        <div class="container">
            {{ range .particles }}
            <div class="card">
                <div class="particle-image-wrapper">
                    <img src="{{ .Image.String }}" alt="{{ .Name }}" class="particle-image">
                </div>
                <div class="info">
                    <p class="title">{{ .Name }}</p>
                    <p class="mass">Масса: {{ .Mass }} кг</p>
                </div>
                <div class="down">
                    <a href="/particle/{{ .ID }}" class="card-button">Подробнее</a>
                    <form action="/de-broglie-calculation/{{ .ID }}/add-particle" method="POST" class="button-form-wrapper">
                        <button type="submit" class="card-button">Добавить в заявку</button>
                    </form>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    {{ if eq .draftRequestID 0 }}
    <div class="cart-icon-container disabled">
        <img src="/static/img/cart_icon.png" alt="Cart" class="cart-icon">
    </div>
    {{ else }}
    <a href="/de-broglie-calculation/{{ .draftRequestID }}" class="cart-icon-container">
        <img src="/static/img/cart_icon.png" alt="Cart" class="cart-icon">
        <div class="cart-count"><p>({{ .deBroglieCalculationsCount }})</p></div>
    </a>
    {{ end }}

    <footer class="footer">© 2025 University of Colorado. Все права защищены.</footer>
</body>
</html>