<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Расчёт де Бройля</title>
    <link rel="stylesheet" href="/static/styles/base.css"/>
    <link rel="stylesheet" href="/static/styles/request_de_broglie_calculation_style.css"/>
</head>
<body>
    <div class="header">
        <a href="/particles" class="logo">
            <img src="/static/img/phet_logo.png" alt="PhET Logo" class="image">
            <div class="logo-divider"></div>
            <img src="/static/img/uni_logo.png" alt="University Logo" class="image">
        </a>
    </div>
    
    <div class="particle-detail-container">
        <h1>Расчёт № {{ .requestDeBroglieCalculation.ID }}</h1>
        
        <div class="calculation-name-form">
            <label for="calculationName">Название расчёта:</label>
            <input type="text" id="calculationName" value="{{ .requestDeBroglieCalculation.Name }}" class="calculation-name-input">
        </div>

        <div class="particle-list">
            <div class="particle-list-header">
                <div class="header-image">Изображение</div>
                <div class="header-name">Название</div>
                <div class="header-mass">Масса</div>
                <div class="header-speed">Скорость</div>
                <div class="header-result">Длина волны де Бройля</div>
            </div>
            {{ range .calculations }}
            {{ $currentCalc := . }}
            <div class="particle-card-wrapper">
                <div class="particle-card">
                    <div class="particle-image-wrapper">
                        {{ range $.particles }}
                            {{if eq .ID $currentCalc.ParticleID}}
                                <img src="{{ .Image.String }}" alt="{{ .Name }}" class="particle-detail-image">
                            {{ end }}
                        {{ end }}
                    </div>
                    
                    <div class="particle-name-column">
                        {{ range $.particles }}
                            {{if eq .ID $currentCalc.ParticleID}}
                                <p>{{ .Name }}</p>
                                <a href="/particle/{{ .ID }}" class="card-button">Подробнее</a>
                            {{ end }}
                        {{ end }}
                    </div>
                    
                    <div class="particle-mass-column">
                        {{ range $.particles }}
                            {{if eq .ID $currentCalc.ParticleID}}
                                <p>{{ .Mass }} кг</p>
                            {{ end }}
                        {{ end }}
                    </div>
                    
                    <div class="particle-speed-column">
                        <p><input type="number" value="{{ .Speed }}"/> м/с</p>
                    </div>
                    
                    <div class="particle-result-column">
                        <div class="calculated-value">{{ printf "%.2e" .DeBroglieLength.Float64 }} м</div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <form action="/de-broglie-calculation/{{ .requestDeBroglieCalculation.ID }}/delete-request" method="POST" class="main-delete-form">
        <button type="submit" class="delete-button">Удалить расчёт</button>
    </form>

    <footer class="footer">© 2025 University of Colorado. Все права защищены.</footer>
</body>
</html>
