@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

body {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.logo-divider {
    width: 1px;
    height: 80px;
    background: rgb(187, 187, 187);
}

.footer {
    background-color: #D2D2D2;
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: auto;
}
