.particle-detail-container {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.particle-card {
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.particle-image-wrapper {
    flex: 0 0 200px;
}

.particle-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
}

.particle-info-wrapper {
    padding: 10px;
    margin-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
