.banner-container {
    position: relative;
}

.banner {
    height: 170px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-container {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 70%;
    position: relative;
}

.search-container form {
    display: flex;
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background: none;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.space {
    width: 70%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 210px;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 0 6px 2px #d2d2d2;
}

.image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.particle-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: bold;
    text-align: center;
}

.mass {
    text-align: center;
    font-size: 14px;
}

.card:hover .title,
.card:hover .mass {
    color: #e01e5a;
}

.down {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.card-button {
    border-radius: 10px;
    border: 1px solid #D2D2D2;
    background-color: #F0F0F0;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
}

.button-form-wrapper {
    display: block;
    width: 100%;
}

.cart-icon-container {
    position: fixed;
    bottom: 7px;
    left: 10px;
}

.cart-icon {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(90%, -50%);
}

.cart-count p {
    font-size: 18px;
    font-weight: bold;
}

.cart-icon-container.disabled {
    opacity: 0.5;
}

.cart-icon-container.disabled .cart-icon {
    pointer-events: none;
}
